@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.heroImg {
    animation: animate 2s infinite ease alternate;
}

@keyframes animate {
    to{
        transform: translateY(20px);
    }
}

.stroke {
    font-size: 2.1875rem;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
}

.stroke1::after{
    content: "Web Design";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: pink;
    overflow: hidden;
    white-space: nowrap;
}
.stroke2::after{
    content: "Development";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: pink;
    overflow: hidden;
    white-space: nowrap;
}
.stroke3::after{
    content: "Illustration";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: pink;
    overflow: hidden;
    white-space: nowrap;
}
.stroke4::after{
    content: "Product Design";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: pink;
    overflow: hidden;
    white-space: nowrap;
}
.stroke5::after{
    content: "Social Media";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: pink;
    overflow: hidden;
    white-space: nowrap;
}

.stroke:hover:after{
    animation: moveText 0.5s linear both;
}

@keyframes moveText {
    to{
        width: 100%;
    }
}

@media(min-width: 768px){
    .stroke{
        font-size: 4.375rem;
    }
}